<!--FOOTER-->
<footer id="contact">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="footer">
                    <hr class="light">
                    <h5>Nous contacter</h5>
                    <hr class="light">
                    <p><i class="fas fa-phone"></i>&nbsp; 02 28 85 45 52</p>
                    <p><i class="fas fa-mobile-alt"></i>&nbsp; 07 88 10 96 93</p>
                    <p><i class="far fa-envelope"></i>&nbsp; capsellerienautique@gmail.com</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer">
                    <hr class="light">
                    <h5>Nos horaires</h5>
                    <hr class="light">
                    <p>Lundi au Vendredi : 09h30 - 12h30 / 13h30 - 17h30</p>
                    <p>Samedi : fermé</p>
                    <p>Dimanche : fermé</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer">
                    <hr class="light">
                    <h5>Nous suivre</h5>
                    <hr class="light">
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Sébastien Teillet</h5>
            </div>
        </div>
    </div>
</footer>