<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">
        <img src="ressources/images/logo.jpg" alt="logo">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/entreprise">L'entreprise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/realisations">Réalisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/devis">Devis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ftechniques">Fiches techniques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/actualites">Actualités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>