<!--GALERIE PHOTOS-->
<section class="galeriePhotos">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h2 class="title-entreprise">Une entreprise iodée à l'artisanat</h2>
                <!--HORIZONTAL RULE-->
                <hr class="my-4">
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="galerie-img" style="background-image: url(ressources/images/galerie1.jpg)">
                </div>
            </div>

            <div class="col-md-8">
                <div class="galerie-img" style="background-image: url(ressources/images/galerie2.jpg)">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="galerie-img" style="background-image: url(ressources/images/galerie3.jpg)">
                </div>
            </div>

            <div class="col-md-3">
                <div class="galerie-img" style="background-image: url(ressources/images/galerie4.jpg)">
                </div>
            </div>

            <div class="col-md-4">
                <div class="galerie-img" style="background-image: url(ressources/images/galerie5.jpg)">
                </div>
            </div>

        </div>
    </div>
</section>

<!--HORIZONTAL RULE-->
<hr class="my-4">