<!--CARDS ACTUALITÉS-->
<div class="container-fluid padding-actualites">
    <div class="row padding">

        <div class="col-md-12">
            <h2 class="title-ftechniques">FICHES TECHNIQUES</h2>
            <!--HORIZONTAL RULE-->
            <hr class="my-4">
        </div>

        <div class="col-md-3">
            <div class="card-actualites">
                <div class="card">
                    <img src="ressources/images/bateau.jpg" alt="photo" class="responsive">
                    <div class="card-body" id="dash">
                        <h5 class="card-title">Titre Fiche Technique</h5>
                        <p class="card-text">Restabat ut Caesar post haec properaret accitus et abstergendae causa
                            suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire
                            multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe
                            tamen quod eum lenire poterit ut germanum profecta.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="ftechniqueOne.html">
                            <li class="list-group-item">Lire la fiche technique <i
                                    class="fas fa-angle-double-right"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-actualites">
                <div class="card">
                    <img src="ressources/images/bateau.jpg" alt="photo" class="responsive">
                    <div class="card-body" id="dash">
                        <h5 class="card-title">Titre Fiche Technique</h5>
                        <p class="card-text">Restabat ut Caesar post haec properaret accitus et abstergendae causa
                            suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire
                            multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe
                            tamen quod eum lenire poterit ut germanum profecta.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="ftechniqueOne.html">
                            <li class="list-group-item">Lire la fiche technique <i
                                    class="fas fa-angle-double-right"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-actualites">
                <div class="card">
                    <img src="ressources/images/bateau.jpg" alt="photo" class="responsive">
                    <div class="card-body" id="dash">
                        <h5 class="card-title">Titre Fiche Technique</h5>
                        <p class="card-text">Restabat ut Caesar post haec properaret accitus et abstergendae causa
                            suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire
                            multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe
                            tamen quod eum lenire poterit ut germanum profecta.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="ftechniqueOne.html">
                            <li class="list-group-item">Lire la fiche technique <i
                                    class="fas fa-angle-double-right"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-actualites">
                <div class="card">
                    <img src="ressources/images/bateau.jpg" alt="photo" class="responsive">
                    <div class="card-body" id="dash">
                        <h5 class="card-title">Titre Fiche Technique</h5>
                        <p class="card-text">Restabat ut Caesar post haec properaret accitus et abstergendae causa
                            suspicionis sororem suam, eius uxorem, Constantius ad se tandem desideratam venire
                            multis fictisque blanditiis hortabatur. quae licet ambigeret metuens saepe cruentum, spe
                            tamen quod eum lenire poterit ut germanum profecta.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <a href="ftechniqueOne.html">
                            <li class="list-group-item">Lire la fiche technique <i
                                    class="fas fa-angle-double-right"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>